@font-face {
  font-family: "Helvetica Neue Bold";
  src: url('../assets/fonts/FreeSansBold.otf')
}

@font-face {
  font-family: "Helvetica Neue Light";
  src: url('../assets/fonts/Nimbus-Sans-D-OT-Light_32752.ttf')
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#root,
main {
  width: 100%;
  max-height: max-content;
  font-family: "Helvetica Neue Light";
}

#root{
  background-color: #62B5E5;
  color: #67899C;
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

/* main.loginPage {
  align-items: center;
} */

#authform {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: max-content;
  max-width: 450px;
  height: 195px;
  margin-top: calc(50vh - 180px);
  border: 1px solid white;
  background: #f1d333;
  border-radius: 50px;
  padding: 20px;
  font-family: cursive;
}

.username-field {
  background: #c84f82;
  color: white;
  width: 190px;
  height: 50px;
  border-radius: 50px;
  border: 2px double black;
  font-size: 20px;
  /* padding-left: 40px; */
  outline: none;
  font-family: cursive;
  text-align: center;
}

.username-field::placeholder {
  color: white;
}

.loginBtn {
  width: 160px;
  height: 50px;
  border-radius: 50px;
  font-size: 16px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  font-family: cursive;
  outline: none;
}

.loginBtn:active,
.loginBtn:hover {
  background: #1f1f1f;
}

#signup_link {
  text-decoration: none;
  color: black;
  margin: 0;
}

#signup_link:hover {
  text-decoration: white underline;
}

#title {
  width: 100%;
  color: #fff;
  /* font-family: "Helvetica Neue Bold"; */
  font-size: 18px;
  word-spacing: 2px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}


#categoryList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 100px;
  width: 100%;
  padding: 20px;
  max-width: 1000px;
  gap: 20px;
  background: #f3f4f6;
}

.categoryCard {
  text-decoration: none;
  background: #fdfdfd;
  color: #67899C;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 7px;
}

#expensesList {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: calc(100vh/8);
  width: 100%;
  padding: 20px;
  max-width: 1000px;
  gap: 20px;
  background: #f3f4f6;
}

.Expense {
  background: #fdfdfd;
}

#dateSetter {
  background: #f3f4f6;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px;
  font-size: 20px;
  max-width: 1000px;
}

#scroll-left {
  transform: rotate(180deg);
}

.changeDate {
  width: 20px;
  height: 20px;
}

.changeDate:hover {
  cursor: pointer;
}

.addExpenseIcon {
  position: absolute;
  right: 9px;
  top: 14px;
  font-size: 26px;
  color: white;
}












/* Loading Widget */
.lds-roller {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div::after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1)::after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2)::after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3)::after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4)::after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5)::after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6)::after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7)::after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8)::after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
